
::-webkit-scrollbar {
    width: 5px;
    border-radius: 0.75rem;    
}

::-webkit-scrollbar-track {
    border-radius: 0.75rem; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 0.75rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.form-container{
    max-width:350px;
    font-family:'Lato', sans-serif;
    
}

.form-container__form{    
    display:flex;
    flex-flow: column nowrap;
    border-radius: 0.75rem;    
    padding: 1rem;
    height:510px;
    overflow-y:scroll;
    background-color: #e9dfdf;
    box-shadow: 0px 4px 10px 0px rgba(29, 0, 10, 0.2),
    0px 2px 3px 0px rgba(29, 0, 10, 0.2);
    color:rgb(46, 43, 43);
}

.form-header{
    align-self: center;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: clamp(0.95rem, 2vw, 1.15rem);
}

.form-container__group__coupon-type{
    display:flex;
    flex-flow: column ;
}

.form-container__label-p{
    font-size: clamp(1.1rem, 2vw, 1.25rem);
}

.form-container__label{
    font-size: clamp(1.1rem, 2vw, 1.25rem);
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-container__form__group{
    margin-bottom: 15px;
}

.form-container__input{
    background-color: #f5f3f3;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 0.25rem;
    padding: 8.5px;
    border: 1px solid black;
    width:100%;
    font-size: clamp(0.85rem, 2vw, 0.95rem);
}

.form-container__radio-value{
    font-size: clamp(0.85rem, 2vw, 1rem);
}

.form-container__input:focus{
    outline: none;
}

.form-container__input-radio{
    margin-top: 15px;
}

.form-container__button{
    width: 80%;
    align-self: center;
    margin-top:clamp(10px, 3.5vw,15px);
    margin-bottom:clamp(10px, 3.5vw,15px);
    font-size: clamp(0.95rem, 2.5vw, 1.2rem);
    background-color: #b8acac;
    border-radius: 5px;
    padding:0.55rem;
    border:0px solid; 
    text-align: center;
}

.form-container__button:hover{
    box-shadow: 0px 4px 10px 0px rgba(29, 0, 10, 0.2),
    0px 2px 3px 0px rgba(29, 0, 10, 0.2);
    cursor: pointer
}